.header {
    display: grid;
    height: 64px;
    background-color: #c2a4d4;
    grid-column-start: 1;
    grid-column-end: 3;

    &__user-name {
        display: grid;
        align-items: center;
        padding: 0px 20px;
        text-transform: capitalize;
        color: #fefefe;
        font-size: 18px;
    }

    .search__area {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .search__input{
            display: block;
            border-width: 0px 0px 0px;
            border-left: 3px solid purple;
            outline: unset;
        
        }

        .search__btn {
     
            cursor: pointer;
            border: 5px solid #fefefe;
            outline: unset;
            background-image: url('./../../assets/lupa.png');
            background-color: #fefefe;
            background-size: cover;
        }
    }

}

@media (max-width: 900px) {
    .header {
        height: 250px;

        &__btn-back {
            position: absolute;
            min-width: 50px;
            min-height: 45px;
            border: 0px;
            background-color: transparent;
            background-image: url('./../../assets/back-arrow.png');
            background-size: cover;
            cursor: pointer;
            margin: 10px;
            outline: unset;

        }

        .search__input {
            min-width: 75%;
            min-height: 40px;
        }

        .search__btn {
            width: 42px;
            min-height: 42px;
        }
    
    }
}

@media (min-width: 901px) 
{
    .header { 
        grid-template-columns: 1fr 1fr 1fr;

        .search__input{
            min-width: 250px;
            min-height: 25px;
        }

        .search__btn {
            width: 30px;
            min-height: 27px;
        }
    }
    
}