
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__user-name {
        display: flex;
        text-transform: capitalize;
    }

    &__title {
        display: flex;
        justify-content: center;
        font-size: 25px;
        color: #5f095f;
        margin: 10%;
    }
}

@media (max-width: 900px) 
{
    .sidebar {
        padding: 5%;

        &__user-name {   
            align-items: center;
            justify-content: center;
            min-height: 40px;
            border: 1px solid black;
            border-radius: 25px;
            border-left: 10px solid purple;
            outline: unset;
            margin: 2% 0%;

            &:hover{
                border-left: 10px solid black;
                background-color: purple;
                color: white;
            }
        }
    }
    
}

@media (min-width: 901px) 
{
    .sidebar { 
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 4;
        border: 1px solid #dbcce4;

        &__user-name {
            align-items: flex-end;
            height: 80px;
            border: 1px solid #dbcce4;
            font-family: serif;
            padding: 10px;
        }
    }
    
}