
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media (max-width: 900px) 
{
    .sidebar { }
    
}

@media (min-width: 901px) 
{
    .sidebar { 
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 4;

        &__user-name {
            display: flex;
            align-items: flex-end;
            height: 80px;
            border: 1px solid #dbcce4;
            padding: 10px;
        }
    }
    
}